.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
  height: 100vh;
}

.container {
  width: 80%;
  overflow: hidden;
}

header {
  background-color: plum;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  float: left;
}

nav {
  float: right;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 40px;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.about,
.products {
  padding: 20px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  text-align: center;
  position: relative;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.card-img-products{
  height:300px;
  object-fit: cover;
}